includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - config

    # The level 5 is the value we aim for.
    level: 5

    ignoreErrors:
        # Ignore some common false positives if necessary
        # - '#Unsafe usage of new static#'
