name: Static Analysis

on:
  push:
    branches: [main, master]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    name: PHPStan
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:11.*" "orchestra/testbench:9.*" "pestphp/pest:^3.0" "pestphp/pest-plugin-laravel:^3.0" --dev --no-interaction --no-update
          composer update --prefer-dist --no-interaction

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse

  pint:
    runs-on: ubuntu-latest
    name: Pint
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:11.*" "orchestra/testbench:9.*" "pestphp/pest:^3.0" "pestphp/pest-plugin-laravel:^3.0" --dev --no-interaction --no-update
          composer update --prefer-dist --no-interaction

      - name: Run Pint
        run: vendor/bin/pint --test
